
{{>Cabecera}}

<main>

		<br>	
		<div class="container p-5">
		
		{{#actividad}}
		<h1>{{nombre}}</h1>
		<h2>Aforo: {{plazas}}</h2>
		<p>{{descripcion}}<p>
		<p>Hoteles: <p>	
		
			{{#hoteles}}
		
			<div class="card" style="width: 18rem;">
				<div class="card-body">
				
			    	<h5 class="card-title">{{nombreHotel}}</h5>
			     	<h6 class="card-subtitle mb-2 text-muted">{{direccion}}</h6>
			    	<p class="card-text">{{estrellas}}</p>
			    <!--  <form action="hotel/{{id}}">
			    	<input type='submit' value='Enviar'/>
			    </form>-->
			    	<a href="/hotel/{{id}}" class="card-link">Info</a> 
			   
		    	</div>
		    
		    </div>
		
			{{/hoteles}}
			
		{{/actividad}}
		<br><br>
			<form action="/eliminarActividad/{{id}}" method="get">
				<input class="btn btn-danger"  type="submit" value="Eliminar">
			</form>
		<br><br>
		<br><br>
		<form action="/" method="get">
			<input class="button"  type="submit" value="Volver a inicio">
		</form>
		
	</div>

  
</main>
</body>
</html>