
{{>Cabecera}}


	<h1 class="text-center">Inserte una nueva Habitación al Hotel {{nombreHotel}}</h1>
<div class="row ">
			<div class="col-sm-4 col-sm-offset-3 mx-auto" >
	<form action="/nuevaHabitacion/{{id}}" method="post">
		<div class="form-group">
			<label for="numero">Numero</label> 
			<input type="text" class="form-control" id="numero" name="numero">
		</div>
		<div class="form-group">
			<label for="tamayo">Tamaño</label> <input
				type="text" class="form-control" id="tamayo" name="tamayo">
		</div>
		
		<div class="col-sm-1 col-sm-offset-3 mx-auto" >
			<input class="text-center" type='submit' name='otra' value='Añadir Otra Habitacion' />
		</div>
		<div class="col-sm-1 col-sm-offset-3 mx-auto" >
			<input class="text-center" type='submit' name='terminar' value='Terminar' />
		</div>
	</form>
	
	</div> </div>
	</body>
</html>


{{>Pie}}