
{{>Cabecera}}

	<br>
	<div class="container p-5">

	<h1 class="text-center">Inserte una nueva habitación en el hotel {{nombreHotel}}</h1>
	<div class="row ">
			<div class="col-sm-4 col-sm-offset-3 mx-auto" >
	<form action="/nuevaHabitacion/{{id}}" method="post">
		<div class="form-group">
			<label for="numero">Numero</label> 
			<input type="num" class="form-control" id="numero" name="numero" required>
		</div>
		<br>
		<div class="form-group">
			<label for="tamayo">Tamaño</label> <input
				type="text" class="form-control" id="tamayo" name="tamayo" required>
		</div>
		<br><br>
		<div class="col-sm-1 col-sm-offset-3 mx-auto" >
			<input class="text-center" type='submit' name='otra' value='Añadir Otra Habitacion' />
		</div>
		<br>
		<div class="col-sm-1 col-sm-offset-3 mx-auto" >
			<input class="text-center" type='submit' name='terminar' value='Guardar y salir' />
			<input type="hidden" name="_csrf" value="{{token}}"/>
		</div>
	</form>
	
	</div> </div> </div>
	</body>
</html>


{{>Pie}}
