


{{>Cabecera}}


<main>
 
<br>

	<div class="container p-5">
	{{#huesped}}
		<br>
		<h1>{{nombreHuesped}} {{apellidos}}</h1>
		<br>
		<h2>{{correo}}</h2>
		<p>{{telefono}}</p>
		{{/huesped}}
	</div>

	{{#reservas}}
	<div class="container">
		
		
			<div class="card" style="width: 18rem;">
			<div class="card-body">
			
				{{#huesped}}
			    <h5 class="card-title">Reserva de {{nombreHuesped}}</h5>
			   	{{/huesped}}
			    
			 
			    
			     <h6 class="card-subtitle mb-2 text-muted">Habitacion : {{habitacion.numero}}</h6>
			     
			     <h6 class="card-subtitle mb-2 text-muted">Fecha de entrada : {{fechaDeEntrada}}</h6>
			     
			     <h6 class="card-subtitle mb-2 text-muted">Fecha de salida : {{fechaDeSalida}}</h6>
			    
				
		    </div>
		    <br>
		    </div>
		     <br>
	{{/reservas}}
		     
</div>


{{>Pie}}