
{{>Cabecera}}


<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Encuentra el hotel ideal</h1>
        <p class="lead text-muted">Busca ofertas en hoteles, casas y en toda clase de establecimientos.</p>
        <p>
          <a href="/principalHoteles" class="btn btn-primary my-2">Ver Hoteles</a>
          
        </p>
      </div>
    </div>
  </section>
<div class="container">
		{{#actividades}}
		
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				
			    <h5 class="card-title">{{nombre}}</h5>
			     <h6 class="card-subtitle mb-2 text-muted">Plazas: {{plazas}}</h6>
			    <p class="card-text">{{descripcion}}</p>
			    <!--  <form action="hotel/{{id}}">
			    	<input type='submit' value='Enviar'/>
			    </form>-->
			    <a href="/actividad/{{id}}" class="card-link">Info</a> 
			    
		    </div>
		    
		    </div>
			<br>

	{{/actividades}}
		
</div>
<br><br>

{{>Pie}}