

{{>Cabecera}}



		{{#primero}}
		<br>
		<div class="container p-5">
		<p class="lead text-muted">Ofreciendo reservas a hoteles desde el 21-07-1990.</p>
		<div class="row"> 
		<form action="/buscarHabitacion/{{id}}" method="post">
			<label for="fechaI">Fecha Inicial: </label>
			<input type="text" class="form-control" name="fechaI"><br>
			<label for="fechaF">Fecha Final: </label>
			<input type="text" class="form-control" name="fechaF"> 
			<br>
			<input class="btn btn-danger"  type="submit" value="Buscar">
		</form>
		</div>
		<br>
	
		</div>
		<br>
		{{/primero}}
		{{^primero}}
	<br>
		<div class="container p-5">
		<div class="row"> 
		
		{{#habitacion}}
			<h1> Reserva de la habitacion {{numero}}.</h1>
			<h3>De tamanyo {{tamayo}}</h3>
		
	<!--{{#premium}}
		
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				
			    <h5 class="card-title">{{nombre}}</h5>
			    <a href="/actividad/{{id}}" class="card-link">Info</a> 
			    
		    </div>
		    
		    </div>


	{{/premium}}
	{{#medio}}
		
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				
			    <h5 class="card-title">{{nombre}}</h5>
			    <a href="/actividad/{{id}}" class="card-link">Info</a> 
			    
		    </div>
		    
		    </div>


	{{/medio}}
	{{#basico}}
		
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				
			    <h5 class="card-title">{{nombre}}</h5>
			    <a href="/actividad/{{id}}" class="card-link">Info</a> 
			    
		    </div>
		    
		    </div>


	{{/basico}}
	<div>
	
	<br>
	<br>
		  -->
		  	
		  
		<form action="/reservaCompleta/{{idReserva}}" method="get">
			<input class="btn btn-danger"  type="submit" value="Reservar">
			<div name="" data-value="valor"></div>
		</form>
	{{/habitacion}}
	
	</div>
</div>
	
{{/primero}}


</body>
</html>