

{{>Cabecera}}



		{{#primero}}
		<br>
		<div class="container p-5">
		<p class="lead text-muted">Ofreciendo reservas a hoteles desde el 21-07-1990.</p>
		<div class="row"> 
		<form action="/buscarHabitacion/{{id}}" method="post">
			<label for="fechaI">Fecha Inicial: </label>
			<input type="date" class="form-control" name="fechaI"  data-toggle="tooltip" data-placement="top" title="dd-mm-aaaa" required><br>
			<label for="fechaF">Fecha Final: </label>
			<input type="date" class="form-control" name="fechaF"  data-toggle="tooltip" data-placement="top" title="dd-mm-aaaa" required> 
			<br>
			<input class="btn btn-danger"  type="submit" value="Buscar">
			<input type="hidden" name="_csrf" value="{{token}}"/>
		</form>
		</div>
		<br>
	
		</div>
		<br>
		{{/primero}}
		{{^primero}}
	<br>
		<div class="container p-5">
		<div class="row"> 
		
		{{#habitacion}}
			<h2> Reserva de la habitacion {{numero}}.</h2>
			<h4>De tamanyo {{tamayo}}</h4>
		
		  	
		  
		<form action="/reservaCompleta/{{id}}/{{fechaI}}/{{fechaF}}" method="get">
			<input class="btn btn-danger"  type="submit" value="Reservar">
			<input type="hidden" name="_csrf" value="{{token}}"/>
			<div name="" data-value="valor"></div>
		</form>
		{{/habitacion}}
	
		{{^habitacion}}
		<p class="lead text-muted">No hay habitaciones disponbles.</p>
		{{/habitacion}}
			</div>
		</div>
	
		{{/primero}}


</body>
</html>