
{{>Cabecera}}


<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Encuentra el hotel ideal</h1>
        <p class="lead text-muted">Busca ofertas en hoteles, casas y en toda clase de establecimientos.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>
  </section>
<div class="container">
		{{#hoteles}}
		
			<div class="card" style="width: 18rem;">
			<div class="card-body">
				
			    <h5 class="card-title">{{nombreHotel}}</h5>
			     <h6 class="card-subtitle mb-2 text-muted">{{direccion}}</h6>
			    <p class="card-text">{{estrellas}}</p>
			    <!--  <form action="hotel/{{id}}">
			    	<input type='submit' value='Enviar'/>
			    </form>-->
			    <a href="/hotel/{{id}}" class="card-link">Info</a> 
			    
			    
		    </div>
		    
		    </div>
			<br>
		{{/hoteles}}  
		
</div>
<br><br>

{{>Pie}}